* {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  margin: 0;
}

h1, h4, h3 {
    font-weight: bold;
}

h1 {
    font-size: 68px;
}

h4 {
    font-size: 30px;
}

/* Top Section */
#topSection {
    /* height: 750px; */
    /* background-color: red; */
}

#topSection .container {
    margin-top: 15px;
}

#topSectionText {
    margin-top: 15%;
    margin-right: 40px;
}

.topSectionBadge {
    margin-top: 40px;
}

#topSectionDevices {
  display: block;
  max-width: 330px;
  max-height: auto;
  margin-left: 75px;
  object-fit: contain;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Readily Available */

#readily-available {
    text-align: center;
    margin-top: 30px;
    background-color: black;
    color: white;
}

#readily-available-title {
    padding-top: 25px;
}

#readily-available-image {
    max-height: 700px;
    max-width: auto;
}

/* Light and Dark */

#light-dark {
    text-align: center;
}

#light-dark-title {
    padding-top: 25px;
}

#light-dark-image {
    margin-top: 25px;
    margin-bottom: 35px;
    max-width: 80%;
    max-height: auto;
}

/* Designed for Mac */

#designed-for-mac {
    text-align: center;
    color: white;
    background-color: black;
}

#designed-for-mac-title {
    padding-top: 25px;
}

#designed-for-mac-image {
    margin-top: 25px;
    margin-bottom: 35px;
    max-width: 80%;
    max-height: auto;
}

/* In Sync */

#in-sync {
    text-align: center;
}

#in-sync-title {
    padding-top: 25px;
}

#in-sync-image {
    margin-top: 25px;
    margin-bottom: 35px;
    max-width: 80%;
    max-height: auto;
}

#in-sync-phone, #in-sync-ipad {
    display: none;
}

/* Recap */

#recap {
    text-align: center;
}

#recap h1 {
    margin-top: 25px;
}

#recapBadge {
    margin-top: 40px;
}

.recap-image {
    margin-top: 50px;
    margin-right: 75px;
    max-width: 90%;
    object-fit: contain;
}

.recap-image-mobile-phone, .recap-image-mobile-mac {
    display: none;
}

#recap h6 {
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: bold;
}

/* Previous Update */
#previousUpdate {
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 60px;
}

#previousUpdateDevices {
    width: 75%;
}

#previousUpdateText {
    margin-top: 125px;
    margin-right: 40px;
}

#previousUpdateMobile {
    display: none;
}

/* Beta */

#beta {
    text-align: center;
}

#beta a {
    text-decoration: underline;
    color: black;
}

#beta h1 {
    padding-top: 50px;
}

.betaSectionImage {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 30%;
}

@media (min-width: 1201px) {
    #previousUpdateText {
        margin-top: 15%;
    }
}

@media (max-width: 1200px) {
    #previousUpdateText h1 {
        font-size: 55px
    }
}

/* // Small devices (landscape phones) */
@media (max-width: 500px) {
    h1 {
        font-size: 50px;
    }

    #topSectionDevices {
        height: 80%;
        margin-left: 55px;
    }

    #topSectionText h1 {
        margin-top: -130px;
    }

    #topSectionText h4 {
        font-size: 20px;
    }

    .topSectionBadge {
        margin-top: 20px;
        margin-bottom: 10px;
        max-width: 53%;
    }

    /* Readily Available */
    #readily-available-title {
        font-size: 45px;
        margin-bottom: 15px;
    }

    #readily-available-image {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #readily-available h3 {
        font-size: 20px;
    }

    /* Light & Dark */

    #light-dark-title {
        font-size: 45px;
    }

    #light-dark-image {
        max-width: 100%;
    }

    #light-dark h3 {
        font-size: 20px;
    }

    /* Designed for Mac */

    #designed-for-mac-title {
        font-size: 40px;
    }

    #designed-for-mac-image {
        max-width: 100%;
    }

    #designed-for-mac h3 {
        font-size: 20px;
    }

    /* In Sync */
    #in-sync-title {
        font-size: 45px;
    }

    #in-sync h3 {
        font-size: 20px;
    }

    #in-sync-image {
        display: none;
    }

    #in-sync-phone, #in-sync-ipad {
        display: block;
    }

    #in-sync-phone {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }

    #in-sync-ipad {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    /* Recap */
    #recap h1 {
        font-size: 50px;
    }

    #recap h4 {
        font-size: 20px;
        margin-top: -10px;
    }

    .recap-image {
        display: none;
    }

    #recapBadge {
        margin-top: 15px;
        max-width: 54%;
        max-height: auto;
        margin-bottom: 10px;
    }

    .recap-image-mobile-phone, .recap-image-mobile-mac {
        display: block;
    }

    .recap-image-mobile-phone {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }

    .recap-image-mobile-mac {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }

    /* Previous Update */
    #previousUpdateDesktop {
        display: none;
    }

    #previousUpdateMobile {
        display: block;
    }

    #previousUpdateMobile img {
        width: 80%;
        margin-left: 35px;
    }

    #previousUpdateMobile h1 {
        margin-top: 35px;
        font-size: 40px;
    }

    #previousUpdateMobile h4 {
        font-size: 20px;
    }

    #previousUpdateMobile a {
        font-size: 20px;
    }

    /* Beta */
    .betaSectionImage {
        width: 80%;
    }
}
